.Navbar-container{
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    background-color: #AED19C;
    padding: 10px;
}

.navbar-logo img{
    height: 60px;
    padding-left: 50px;
}

.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
    font-weight: bold;
  }
  
  .nav-links a:hover {
    color: #82A0D8;
  }
  
  .nav-links button {
    width: 120px;
    background-color: #3967C2;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
  }
  
  .nav-links button:hover {
    background-color: #A1CCD1;
    color: black;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content-left {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 200px; /* ปรับความกว้าง */
    box-shadow: -8px 8px 16px 0px rgba(0,0,0,0.2); /* เปลี่ยนตำแหน่งเงา */
    z-index: 1;
    right: 0%; /* จัดทางซ้าย */
    top: 100%; /* จัดลงข้างล่าง */
    font-size: 15px;
  }
  
  .dropdown-content-left a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content-left a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content-left {
    display: block;
  }
  
  

  .dropdown img{
    width: 50px;
    border-radius: 50%;
  }

  